@import "tailwindcss";
@import "../styles/form.css";

@plugin "daisyui" {
  themes: all;
  /* themes: light --default, dark --prefersdark, cupcake, bumblebee, emerald, corporate, synthwave, retro, cyberpunk, valentine, halloween, garden, forest, aqua, lofi, pastel, fantasy, wireframe, luxury, dracula, cmyk; */
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  font-family: Arial, Helvetica, sans-serif;
}
